* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: black;
  color: white;
}
/* container */

.nav-background {
  background: url(img/1054067.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: top;
}
/* Navigation */
a > img {
  width: 10rem;
  transition: 1s ease;
}
a > img:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(1.1);  
  transition: 1s ease;
  }
.myNav {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  margin-right: auto;
  justify-content: space-between;
  padding: 1.5rem 10rem;
  background-color: rgba(30, 31, 33, 0.74);
}
.notActive {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 2.7rem;
  transition: .2s;
}
.active {
  color: #583c90;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 2.7rem;
}
.notActive:hover {
  color: #583c90;
}
.nav-container {
  width: 50%;
  margin-left: 7.7rem;
  padding-top: 8.6rem;
}
a {
  list-style: none;
  text-decoration: none;
}
.btn {
  width: 190px;
  height: 65px;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  border-radius: 70px;
  cursor: pointer;
  transition: .4s;
  background-color: #583c90;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  background-color: white;
  color: #282037;
}
/* home */
.dling {
  font-size: 2rem;
  font-weight: 600;
}
.font-title {
  font-size: 4.2rem;
  letter-spacing: 1px;
  font-weight: 600;
}
.purple {
  color: #583c90;
}
/* second content */
.second-home {
  width: 100%;
  height: 100vh;
}
.container-grid {
  display: flex;
  gap: 4.2rem;
  padding: 0 10rem;
}
.container-grid > img {
  width: 450px;
  height: 335px;
}
h1 {
  font-size: 2rem;
}
.content-Subtitle {
  font-size: 1.3rem;
  color: #6747a8;
}
.wrap-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 4rem 0;
}
.position-content {
  padding-right: 3.4rem;
  font-size: 1.3rem;
  color: white;
}
.about-info {
  display: flex;
  padding-right: 4.6rem;
  margin-top: 2.5rem;
  font-size: 1.2rem;
  align-items: center;
  justify-content: space-evenly;
}
.about-info-title {
  color: #6747a8;
  display: block;
  margin-left: 20px;
}
/* About */
.about-section {
  height: 100vh;
}
h2 {
  font-size: 2.5rem;
}
.img-haker {
  margin-top: 1rem;
  width: 450px;
}

/* Footer */
footer {
  background-color: rgba(30, 31, 33, 0.74);
  color: white;
  font-size: 1.5rem;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Form  */
.contact-section {
  height: 100vh;
  display: grid;
  justify-content: center;
}
form {
  background-color: rgb(35, 35, 35);
  width: 600px;
  height: 570px;
  padding: 2rem 3rem;  
  margin-top: 2rem;
  border-radius: 20px;
}

input.form-type {
  width: 100%;
  height: 70px;
  padding-left: .7rem;
  font-size: 1.7rem;
  outline: none;
  margin-bottom: .5rem;
  border-radius: 10px;
  color: rgb(15, 15, 21);
}
label {
  font-size: 1.2rem;
  margin-left: .4rem;
}
/* button {
  width: 60%;
  height: 80px;
  font-size: 1.5rem;
  transition: 0.3s;
}
button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition: ease;
} */
button{
  color: #fff;
  border: 3px solid #591dba;
  background-image: -webkit-linear-gradient(30deg, #5613c1 50%, transparent 50%);
  /* background-image: linear-gradient(30deg, #88419c 50%, transparent 50%); */
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  width: 140px;
  height: 60px;
  border-radius: 10px;
  font-weight: 500;
}
button:hover {
  background-position: 100%;
  color: #000000;
  cursor: pointer;
}


.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.checkbox-input {
  display: flex;
  align-items: center;
  margin-top: .7rem;
}
.checkbox-proper {
  width: 20px;
  height: 20px;
  margin-left: 1.2rem;
}